language: rust
rust: nightly

matrix:
  fast_finish: true
  include:
    # Targets
    - name: "linux"
      os: linux
      env: RUST_BACKTRACE=full
    - name: "osx"
      os: osx
      osx_image: xcode10.3
      env: RUST_BACKTRACE=full

    - name: "Shellcheck"
      script:
        - shellcheck --version
        - shellcheck ci/*.sh

script: sh ci/run.sh
